const config = {
  mongo: {
    username: '',
    password: '',
    port: 27017,
    database: 'shassi'
  },
  jwt: {
    secret: ''
  },
  mail: {
    server: '',
    user: '',
    password: ''
  },
  telegram: {
    token: '',
    domain: 'example.com'
  }
};

module.exports = config;